body {
    background: url(images/vector-abstract-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.img {
    width: px;

}
.iconn {
    font-size: 2rem;
    color: lavender;
}