@media (min-width: 1200px){

    h1{
        font-size: 1.8rem;
    }
    
    p{
        font-size: 1.2rem;
    }

    .header{

        & .header-inner-container{
            width: 90%;
            margin: 0 auto;

            & a{
                font-weight: bold;
            }
        }
    }

    .conditions{

        & .conditions-inner-container{
            width: 90%;
            margin: 0 auto;
            
            display: flex;
            justify-content: space-between;
            align-items: center;

            padding: 3rem 0;

            & .search{
                margin: 0;
            }

            & .filter{
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
        
    }

    .countries{

        & .countries-inner-container{
            width: 90%;
            margin: 0 auto;

            & ul{

                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 5rem;

                width: 100%;
                margin: 0;
            }

            & li{
                margin: 0;

                & h1{
                    padding: 2rem 2.5rem;
                    line-height: 2.5rem;
                }
        
                & p{
                    padding: 0 .5rem 0 2.5rem;
                }
            }

            & div{
                padding-bottom: .5rem;
            }
    
            & div:last-of-type{
                padding-bottom: 2rem;
            }
        }
    }

    .targetCountry{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .targetCountry-flag{
            width: 50%;
        }
    
        & .targetCountry-content{
            width: 50%;
            padding: 1rem 1rem 1rem 5rem;

            & .targetCountry-content-left-right{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                padding-bottom: 3rem;

                & .targetCountry-content-left{
                    padding-bottom: 0;
                    width: 50%;
            
                    & p:not(:last-of-type){
                        padding-bottom: 1rem;
                    }
                }
            
                & .targetCountry-content-right{
                    padding-bottom: 0;
                    width: 50%;
            
                    & p:not(:last-of-type){
                        padding-bottom: 1rem;
                    }
                }
            }
        }
    }
}